<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      font-family: monospace;
    }
    table{
      border: 2px solid black;
      margin: 5px ;
    }
    .head{
      text-align: start;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>URL Shortner</h1>
  <div>
    <form method="POST" action="/url">
      <div>
        <label for="og-url">Enter your url:</label>
        <input type="text" name="url" id="og-url" placeholder="https://example.com">
        <button type="submit">Generate</button>
      </div>
    </form>
  </div>
  <div>    
    <% if (locals.id) { %>
      <p>Generated URL: http://localhost:8005/url/<%= id %></p>
    <% } %>
  </div>
  <div>

    <% if (locals.urls) { %>
      <table>
        <thead class="head">
          <th>S.No</th>
          <th>ShortId</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
            <% urls.forEach((url, index)=>{ %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= url.shortId %></td>
                <td><%= url.redirectURL %></td>
                <td><%= url.visitHistory.length %></td>
              </tr>
            <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>
</body>
</html>